<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {{{ static_styles }}}             <!-- Special variable for render_template hard coded to load styles.css from a static folder  -->
  
</head>
<body>
    <h1>{{ heading }}</h1>

    <div class="controls">
        <div class="row">
            <form action="/forward">
                <button type="submit" class="button">Forward</button>
            </form>
        </div>

        <div class="row">
            <form action="/stop">
                <button type="submit" class="button">Stop</button>
            </form>
        </div>

        <div class="row">
            <form action="/backward">
                <button type="submit" class="button">Backward</button>
            </form>
        </div>
        <div class="row">
            <img id="snapshot" src="/api/snap">
        </div>
        <div class="row">
            <p><a href="/">Home</a></p>
        </div>
    </div>

</body>
</html>

